@use "../abstracts/" as *;

.btn {
  border: none;
  padding: $btn-padding-block $btn-padding-inline;
  background-color: var(--brand-colors-primary);
  color: var(--gray-colors-white);
  border-radius: $border-radius-1;
  font-size: $font-size-button;
  font-weight: $font-weight-text-bold;
} 

.set-limit-btn {

}