@use "../abstracts/" as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $card-color;
  box-shadow: $card-box-shadow;
  width: 100%;
  height: rem(100);
  font-weight: $font-weight-text-bold;
}