@use "../abstracts/" as *;

.header {
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
  &-container {
    padding: $padding-section-base;
  }
  &-logo-icon {
    width: rem(60);
  }
  &-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}