:root {
	--brand-colors-primary: hsl(211,84.6%,43.3%);
	--brand-colors-secondary-1: hsl(218,36%,14.7%);
	--brand-colors-secondary-2: hsl(206,44.8%,79.4%);
	--brand-colors-secondary-3: hsl(223,22.6%,87.8%);
	--brand-colors-secondary-4: hsl(355,97.8%,64.9%);
	--gray-colors-black: hsl(0,0%,0%);
	--gray-colors-gray-1: hsl(215,27.9%,16.9%);
	--gray-colors-gray-2: hsl(217,19.1%,26.7%);
	--gray-colors-gray-3: hsl(215,13.8%,34.1%);
	--gray-colors-gray-4: hsl(220,8.9%,46.1%);
	--gray-colors-gray-5: hsl(218,10.6%,64.9%);
	--gray-colors-gray-6: hsl(216,12.2%,83.9%);
	--gray-colors-gray-7: hsl(220,14.3%,95.9%);
	--gray-colors-white: hsl(0,0%,100%);
	--state-colors-error: hsl(0,100%,36.5%);
	--state-colors-info: hsl(218,100%,81.4%);
	--state-colors-success: hsl(110,48.5%,59.6%);
	--state-colors-warning: hsl(41,95.4%,66.1%);
}