@use 'functions' as *;

// Layout
$wrapper-max-width: rem(1040);
$page-padding-inline: rem(16);
$gap-base: rem(16);

// Line height
$line-height-base: 1.5;

// Font family
$font-family-base: 'Ubuntu', sans-serif;

// Font size
$font-size-heading-1: clamp(2rem, 1.143rem + 2.857vw, 3rem);
$font-size-heading-2: clamp(1.3rem, 1.143rem + 2.857vw, 2.3rem);
$font-size-text-base: clamp(1rem, 0.457rem + 1.143vw, 1.3rem);
$font-size-text-s: clamp(0.7rem, 0.457rem + 1.143vw, 1rem);

// Font weight
$font-weight-heading-1: 700;
$font-weight-heading-2: 600;
$font-weight-text-bold: 600;

// Margin and padding
$padding-section-base: rem(16);
$margin-base: rem(19);

// Border radius
$border-radius-1: rem(7);
$border-radius-2: rem(10);

// Box shadow
$box-shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

// Components //

// Header
$header-background-clr: var(--brand-colors-secondary-2);
$header-logo-clr: var(--gray-colors-white);

// Input
$input-padding: rem(10);
$input-border: rem(1) solid var(--gray-colors-gray-4);

// Card
$card-min-width: rem(50);
$card-border: 1px solid var(--gray-colors-gray-4);
$card-box-shadow: $box-shadow-1;
$card-color: var(--brand-colors-secondary-3);

// Button
$btn-padding-inline: rem(20);
$btn-padding-block: rem(15);
$font-size-button: $font-size-text-s;

// variables naming inspiration https://github.com/kevin-powell/website-starter-template-v3-prefixed/blob/main/sass/abstracts/_tokens.scss