@use "../abstracts/" as *;

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $gap-base;
}

.flex-no-align-center {
  display: flex;
  justify-content: space-between;
  gap: $gap-base;
}
